
:host(){
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-shadow{
  box-shadow: 7px 7px 7px #888888;
  cursor: pointer;

  transition: transform .4s; /* Animation */
  transform: scale(1.06); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.card-shadow-revert{
  transition: transform .4s; /* Animation */
  transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

mat-card img{
  max-width: 332px;
  height:370px;
}


mat-card-content span.category-name{
  text-align: center;
  font-weight: bolder;
  display: block;
  font-size: x-large;
  margin-top: 30px;
}


@media(max-width: 959px){
  mat-card img{
    height:300px
  }
  mat-card.card{
    height:350px
  }
}


